<div class="jumbotron special">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 outline">
        <h1>登山を記録し共有しよう</h1>
        <p>簡単登録ですぐに記録を投稿できるハイカーのためのコミュニティサイト</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
